.background{
  background-color: black;
}

.title{
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}

.pic{
  position: relative;
  left: 225px;
  display: inline;
}

.nav{
  display: block;
  width:150px;
  height: 625px;
  background-color: #A4566E;
}

.nav{
  position: fixed;
  top: 10px;
}

.nav{
  animation:myframes 2s ease-in-out 0s 1
}

@keyframes myframes {
  0% { height: 0px;}
  100% {height : 630px;}
}

.navbaritems{
font-size: 25px;
display: block;
}

.stuff{
  display: block;
  padding-top: 50px;
  padding-left: 10px;
}

.pic:hover{
  cursor: pointer;
  opacity: 0.50;
}

.pic1{
  animation: animation1 2s ease-in-out 0s 1
}

@keyframes animation1 {
  0% {opacity: 0.2;}
  100% {opacity: 1;}
}

.title{
  animation: title 1.5s ease-in-out 0s 1
}

@keyframes title {
  from {transform: rotate(0deg);}
  to {transform: rotate(30deg);}
}
